body {
  text-align: center;
  background: lightgray;
  color: white;
}

.promo {
  width: 800px;
  height: 600px;
  background: linear-gradient(blue,lightblue);
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 10px 10px rgb(231, 222, 222);
}

h1 {
  font-size: xx-large;
  padding: 10px;
  text-decoration: underline;
}
img {
  border: 2px solid white;
  box-shadow: 5px 5px rgb(161, 156, 156);
  border-radius: 50%;
}